
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  *::selection{
    background:var(--green);
    color:#fff;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
  }
  
  section{
    padding:2rem 9%;
  }
  
:root{
    --white:#fff; 
    --blue:#274d73;
     --yellow:#ffff00;
}
::-webkit-scrollbar{
    display: none;
  }
  /* stroke text */
  .Stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
  }
  h1 span{
    -webkit-text-stroke-color: var(--yellow);
    
  }



/* body{
    /* background-color:white; */
    /* height: 200vh; */
/* } */ 
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    align-items: center;
    z-index:1000;
}
.header img{
     width: 12rem;
     height: 6rem;
}
.header ul{
    display: flex;
    list-style: none;
    gap:1.5rem;
    
}


.header ul li a{
    color: var(--white);
    font-weight:bold;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius:15px;
    transition: all 0.4s ease;
}
.header ul li a:hover,
.header ul li a:active{
     background: var(--white);
     color: var(--blue);
}
.header .menu-btn i{
    color:#fff;
    /* background-color: yellow; */
    cursor:pointer ;
    font-size: 30px;
    display: none;
}
.sticky .menu-btn i{
   color: var(--blue);
}
#click{
display: none;
}
.sticky{
    background: #fff;
    backdrop-filter: blur(25px);
   
}
.sticky ul li a{
      color: var(--blue);
 }
 .header ul li a:hover,
.header ul li a:active{
     background: var(--blue);
     color: var(--white);
}
/* Navbar Ressponssive code */
@media (max-width:1004px){
    .header .menu-btn i{
       display: block;
    }
    #click:checked~ .menu-btn i:before{
        content: "\f00d";
    }
    .header ul{
        position: fixed;
        top: 8rem;
        left: 104%;
        background:var(--white);
        /* height: 36vh; */
        padding-bottom:1rem;
        width: 35%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
        border-radius:10px;
        box-shadow:2px 4px 10px rgba(0,0,0,0.8);
    }
    #click:checked~  ul{
        top: 8rem;
        left: 60%;
    }
    .header ul li{
        margin: 25px 0;
    }
    .header ul li a{
        font-size: 23px;
        color: var(--blue);
    }
}
    @media(max-width: 400px){
        .header img{
        margin-left:-4rem;
    }
    }
    @media(max-width: 400px){
        .header img{
        margin-left:-4rem;
    }
}
@media(max-width: 340px){
    .header .menu-btn i{
      margin-left:6rem; 
    }
}
@media (max-width:640px){
    .header ul{
        /* height: 36vh; */
        width: 40%;
    }   
    #click:checked~  ul{
        left: 55%;
    }
}
@media (max-width:540px){
    .header ul{
        /* height: 36vh; */
        width: 50%;
    }   
    #click:checked~  ul{
        left: 44%;
    }
}
@media (max-width:436px){
    .header ul{
        /* height: 36vh; */
        width: 60%;
    }   
    #click:checked~  ul{
        left: 34%;
    }
}

@media (max-width:360px){
    .header ul{
        /* height: 36vh; */
        width: 80%;
    }   
    #click:checked~  ul{
        left: 10%;
    }
}


/* Home Page Design */

.home{

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    padding-top:10rem;
    background:var(--blue);
}
/* home section text styling */
.home-text{
    flex: 1 1 40rem;
    margin-top:8rem;
    text-align:start!important;
}
.home-text>h1{
    font-size:7.4rem;
    font-weight:bold;
    
}
.home-text>h2{
    margin-top:-0.4rem;
    font-size:3.4rem;
    color:var(--white);
   
}

.home-text>p{
    font-size:1.8rem;
    width:90%;
    margin-top:2rem;
    color:var(--white);
}
.buttons{
    margin-top:2rem;
    display: flex;
    gap: 0.8rem;
    
}
.buttons .btn{
    font-size:2rem;
    padding:1rem 1rem;
    background-color: transparent;
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    transition: all 0.4s linear;
}
.buttons .btn:nth-child(1){
    background: var(--white);
    color: var(--blue);
}
.buttons .btn:nth-child(1):hover{
    background: transparent;
    color: var(--white);
}

.buttons .btn:nth-child(2):hover{
    background: var(--white);
    color: var(--blue);
}

/* curve */





.home-image{
    flex:1 1 40rem;
    padding-top: 5rem;
  }
.home-image img{
    width:65%;
    height: 40%;
    border-radius: 50% 20%/ 10% 40%;
}


/* Ressponssive source code of the home Page */
@media (max-width:500px) {
  section{
    padding:2rem 6%;
  }
  .home{
    padding-top:2rem;
  }
    .home-text>h2{
        font-size:3rem;
    }
    .home-text>p{
        width: 100%;
    }   
}

@media (max-width:410px) {
    section{
      padding:2rem 6%;
    }
    .home-text>h1{
        font-size:6rem;
    }
      .home-text>h2{
          font-size:2.5rem;
      }
      .home-text>p{
          width: 100%;
      }   
  }
  
  @media (max-width:344px){
    section{
        padding:2rem 4%;
      }
      .home-text>h1{
          font-size:5.5rem;
      }
        .home-text>h2{
            font-size:2rem;
        } 
        .buttons .btn{
            font-size:1.5rem;
            padding:1rem 1rem;
        }
  }



  
  /* Programs section source code */
  .programs{
    background: url("../image/bgP.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .programs_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:0rem 0rem;
    background:transparent;          
    gap: 4rem;
    margin-top:4rem;
  }

  .box1{
    flex:1 1 20rem;
    background: rgba(0,0,0,0.8);
   padding:2rem 1rem;
   text-align: center;    
   color: #fff;
   transition: all 0.4s ease;
   border-radius:20px;
}
.box1:hover{
     background: #49495d; 
   /* margin-top:-6rem; */
   /* transform: translateY(-30px); */
   cursor: pointer;
   /* border: 2px solid var(--yellow); */
}
.box1 img{
   width: 6rem;
   height:6rem;
   border-radius:50%;
}
.box1 h1{
   font-size: 2.5rem;
   margin-top:0.8rem;
}
.box1 p{
   font-size:1.5rem;
   margin-top:1.2rem;
}
.box1 a{
   color: #fff;
   text-decoration: none;
   font-size:2rem;
   
}
.box1 a:hover{
   color: #262633;
}
.box1 a img{
   margin-top:2rem;
   margin-left:0.5rem;
   width:2rem;
   height: 2rem;
}

@media (max-width:1048px){
    .box1:hover{
      margin-top:none;
   }
}

/* services section styling */
    .services{
        background:var(--blue);
        padding:2rem 4%;
    }
    .services .heading{
        margin-top:4rem;
        text-transform: uppercase;
        font-size:8rem;
        text-align: center;
        color: #fff;
    }
 .Stroke-texts{
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
    /* padding:0rem 3rem 0rem 3rem; */

}

.service{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-top:6rem;
}
.service-box{
    padding:2rem 3rem;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

}
.service-box .box{
       width: 7rem;
       height: 7rem;
       border:3px solid rgba(0,0,0,0.4);
       border-radius:50%;
       font-size: 4.5rem;
       text-align: center;
       
}
.service-box .box i{
      margin-top:1.2rem;
      color: #49495d;
}
.service-box h1{
    font-size: 2.5rem;
    margin-left:2rem;
    font-weight:lighter;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    
}

@media (max-width:600px)
{
   h1{
        font-size:3rem;
    }
}
@media (max-width:380px)
{
    h1{
        font-size: 2.7rem;
    }
    .service-box{
        padding:2rem 2rem;
}
}
@media (max-width:300px){
    .service-box{
        padding:2rem 1.7rem;
    }
}

/* reasons styling */
 .reasons{
    background:var(--white);
    /* padding-top:10rem; */
   
 }
 .reason-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}
.reason-l{
    flex: 1 1 25;
}
.reason-l img{
    width: 100%;
    height: 100%;
    /* margin-top:-2rem; */
    /* margin-left: -12rem; */
}
.reason-r{
    flex: 1 1 25;
}
.reason-r 
    .Stroke-text{
        color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--blue);
      }
.reason-r h2{
    font-size:5rem;
    font-weight:bold;
    color: var(--blue);
    margin-top:-3rem;
}
.reason-r .text{
       display: flex;
       flex-direction: column;
       margin-top:2rem;
       
}
.text .list{
    display: flex;
    margin-top:1.5rem;
    color: #274d73;
    gap: 1.4rem;
}
.text .list i{
    font-size: 2.5rem;
}
.text .list p{
    font-size:2rem;
}
.reason-r .buttons{
    margin-top:4rem;
}
.reason-r .buttons .btn:nth-of-type(1){
    border:2px solid var(--blue);
}

.reason-r .buttons .btn:nth-of-type(1):hover{
   background: var(--blue);
}
.reason-r .buttons .btn:nth-of-type(2){
    background: var(--blue);
}

.reason-r .buttons .btn:nth-of-type(2):hover{
     border: 2px solid var(--blue);
     background: transparent;
     color: var(--blue);
}
/* Ressponssive section reasons */
    @media (max-width:550px){
        .reason-r h2{
            font-size:4rem;
        }
        .text .list p{
            font-size:1.5rem;
        }       
    }
/* team section styhling */

.team{
    background: var(--blue);
    padding:2rem 2%;
}

/* swiper team section setting */
.team_main{
    margin-top:4rem;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 34rem;
    width: 80%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius:30px;
    border:4px solid var(--white); 
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#4c4c9f;
    width: 100%;
    height: 100%;
    padding:1rem 1rem;
    margin-bottom:0rem;
    border-radius:30px;
    cursor:grab;
}
  .content .image{
    width: 18rem;
    height: 18rem;
    margin-top:-2rem;
    opacity:0.6;
    transition: all 0.4s ease;
  }
  .content:hover .image
  {
         opacity:0.9;
  }

  .content .detail h4{
    color: #fff;
    font-size:3rem;
    font-weight:500;
    margin-top: -1rem;
  }
  .content .detail p{
    font-size: 1.8rem;
    margin-top:1rem;
    color: #333;
  }
  .content .socials{
     display: flex;
     gap: 2rem;
     margin-top:1rem;  
}
.content .socials i{
    font-size:3.5rem;
    color: #222;
    transition: all 0.4s ease;
}

.content .socials i:hover{
    color:var(--white);
}

/* footer section */
.footer{
    position:static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}